# Data Science Tools and EcosystemData Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* RStudio
* Python
* Jupyter Notebook
* GitHub
* Tools for DS

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. C/C++
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Seaborn
2. Matplotlib
3. PyTorch
4. TensorFlow
5. SciKit-Learn

|Data Science Tools|
|------------------|
|Apache Spark|
|Jupyter Notebook|
|Keras|

### Below are a few examples of evaluating arithmetic expressions in Python
+ (unary)	+a	Unary Positive
- (unary)	-a	Unary Negation
+ (binary)	a + b	Addition
* (binary) a * b	Multiplication

In [8]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
time=200
result=time/60
print(f"{result} hours")

3.3333333333333335 hours

## Author
Anvit Pawar